<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="contact">
  <div class="shapka">
      <%= image_tag 'https://i2.wp.com/2mprogress.com/wp-content/uploads/2017/11/person-1824144_1280.png', alt: 'Icon', size: "120x120", class: "iconka" %>
  </div>
  <form action="#">
      <fieldset>
          <section>
            <label class="input">
                <%= f.email_field :email, placeholder: "Електронна пошта", autofocus: true %>
            </label>
          </section>
          <div class="row">
              <section class="col col-2">
                <label class="input">
                    <%= f.password_field :password, placeholder: "Пароль" %>
                </label>
              </section>
              <section class="col col-2">
                  <label class="input">
                      <%= f.password_field :password_confirmation, placeholder: "Підтвердження паролю" %>
                  </label>
              </section>
              <section class="col col-2">
                  <label class="input">
                    <%= link_to "Log in", new_session_path(resource_name), class: 'form2but' %>
                  </label>
              </section>
              <section class="col col-2">
                  <label class="input">
                      <%= f.submit "Sign up", class: 'button' %>
                  </label>
              </section


          </div>
          <section>

          </section>

      </fieldset>
  </form>
</div>


<% end %>
