  <div class="contact">
    <div class="shapka">
        <%= image_tag 'https://i2.wp.com/2mprogress.com/wp-content/uploads/2017/11/person-1824144_1280.png', alt: 'Icon', size: "120x120", class: "iconka" %>
    </div>
    <form action="#">
        <fieldset>
            <div class="row">
                <section class="col col-2">
                    <label class="input">
                        <%= f.text_field :firstname, placeholder: "Ім'я", autofocus: true %>
                    </label>
                </section>
                <section class="col col-2">
                    <label class="input">
                        <%= f.text_field :lastname, placeholder: "Прізвище" %>
                    </label>
                </section>
                <section class="col col-2">
                    <label class="input">
                        <%= f.text_field :country, placeholder: "Країна" %>
                    </label>
                </section>
                <section class="col col-2">
                    <label class="input">
                        <%= f.text_field :city, placeholder: "Місто" %>
                    </label>
                </section>
                <section class="col col-2">
                    <label class="input">
                        <%= f.text_field :phone, placeholder: "Номер телефона" %>
                    </label>
                </section>
                <section class="col col-2">
                  <div class="image-upload">
                     <label for="file-input">
                       <div class="form1but">
                          Аватар
                       </div>
                     </label>
                     <%= f.file_field :avatar, id:"file-input" %>
                  </div>
                </section>
            </div>
            <section class="col col-2">
                <label class="input">
                    <%= date_select("userparam", "dofb", start_year: 1950, end_year: 2000, order: [:month, :day, :year]) %>
                </label>
            </section>
            <button type="submit" class="button">Зберегти</button>
        </fieldset>
    </form>
</div>
