<div class="contact">
  <div class="shapka">
      <%= image_tag 'https://i2.wp.com/2mprogress.com/wp-content/uploads/2017/11/person-1824144_1280.png', alt: 'Icon', size: "120x120", class: "iconka" %>
  </div>
  <form action="#">
      <fieldset>
          <section>
            <center><p style="font-size: 48px; padding-bottom: 15px;">Профіль</p></center>
            <center><%= image_tag(@user.avatar, class: 'avatarka')  %></center>
          <div class="row">
              <section class="col col-2">
                 <p>Ім'я: <%= @user.firstname %></p>
              </section>
              <section class="col col-2">
                      <p>Прізвище: <%= @user.lastname %></p>
              </section>
              <section class="col col-2">
                  <p>Країна: <%= @user.country %></p>
              </section>
              <section class="col col-2">
                  <p>Місто: <%= @user.city %></p>
              </section>
              <section class="col col-2">
                  <p>Дата народження: <%= @user.dofb.strftime("%b,%d,%Y") %></p>
              </section>
              <section class="col col-2">
                  <p>Телефон: <%= @user.phone %></p>
              </section>

          </div>

          <%= link_to "Редагувати", edit_userparam_path, class: 'form2but' %>
      </fieldset>
  </form>
</div>
