<% if current_user.nil? %>
<li>
<%= link_to user_session_path do %>
<i class="zmdi zmdi-sign-in"></i> Login
<% end %>
</li>
<% else %>
<li>
<%= link_to new_product_path do %>
<i class="zmdi zmdi-plus"></i> <%= t('add_product') %>
<% end %>
</li>
<li>
<%= link_to userparams_path, data: {turbolinks: false}  do %>
<i class="zmdi zmdi-user"></i> <%= t('profile') %>
<% end %>
</li>
<li>
<%= link_to destroy_user_session_path, method: :delete do %>
<i class="zmdi zmdi-log-in"></i> <%= t('logout') %>
<% end %>
</li>
<% end %>

<center><div><a href="/posts/index">Каталог</a></div></center>
<center><div><a href="/products/index">Каталог бу</a></div></center>




