<div>
<%= f.label :name %><br />
<%= f.text_field :name, autofocus: true %>
</div>

<div>
<%= f.label :description %><br />

<%= f.text_area :description, :rows => 10, :cols => 60 %>
</div>

<div>
<%= f.file_field :icons, multiple: true %>
</div>

<div>
<%= f.label :price %><br />
<%= f.text_field :price %>
</div>


<div>
<%= f.label :count %><br />
<%= f.text_field :count %>
</div>



<div>
<%= f.submit "Save"%>
</div>