<!DOCTYPE html>
<html>
  <head>
	<title>Bimershop</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="particles-js"></div>
  <%= javascript_include_tag 'particles', 'app'%>
  <div id="page-wrapper">
  	<%= render 'layouts/header'%>
	  <%= yield %>
	  <%= render 'layouts/footer'%>
  </div>


  </body>
</html>
